body{background:#808080;color:#fff;font-size:14px;postion:absolute;margin:0;text-align:center;}
body header{background:#000;display:inline-block;hight:auto;}
body header h1{display:inline-block;font-family:"Pinyon Script",Arial;font-size:1.4em;postion:relative;width:50%}
body header #imagen{float:left;margin:0 3em;width:7%}
body header #image{float:right;width:20%}
body header nav{background:#ccc;border-bottom:4px solid transparent;border-left:10px solid #000;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:10px solid #000;border-top:4px solid transparent;color:#fff;display:inline-block;font-size:1.4em;text-align:center;vertical-align:top;width:90%}
body header nav ul{list-style:none;margin:0;padding:0 .8em}
body header nav ul li{display:inline-block;margin:0 1.2em 0 0;vertical-align:top}
body header nav ul li a{color:#000;font-family:"Dancing Script",Arial;font-weight:normal;display:block;text-decoretion:none;padding:0 0}
body header nav ul li a:hover{border-bottom:1px solid #0058a5;margin:0;padding:0}
body header nav #logo{display:inline-block;border-radius:50%;display:inline;float:left;left:0;margin:0 0 0 0;postion:relative;top:1em;text-decoretion:none;width:40px}
body #contenedor{background:#fff;color:#000;display:inline-block;postion:relative;width:100%;z-index:1em;}
body #contenedor #texto{display:inline-block;float:left;padding:.3em .3em;postion:relative;width:75%;}
body #contenedor #texto h2{font-family:"Pinyon Script",Arial;float:left}
body #contenedor #texto .derecha{display:inline-block;float:right;margin:.3em;padding:.3em;postion:relative;text-align:left;vertical-align:top;width:100%;}
body #contenedor #texto .derecha .texto-item{float:right;width:50%}
body #contenedor #texto .derecha .src{float:left;margin:0 .7em;postion:relative;width:40%}
body #contenedor #texto .izquierda{display:inline-block;float:right;margin:.3em;padding:.3em .3em;width:70%;}
body #contenedor #texto .izquierda .texto-item{float:left;text-align:left;width:65%}
body #contenedor #texto .izquierda h3{font-family:"Pinyon Script",Arial}
body #contenedor #texto .izquierda .src{float:right;width:30%}
body #contenedor #lateral{display:inline-block;float:right;padding:.3em;postion:relative;text-align:left;width:20%;}
body #contenedor #lateral h2{border-bottom:1px solid #000;font-family:"Pinyon Script",Arial;font-size:1.1em;float:left;margin:0 0 0 0}
body #contenedor #lateral a{color:#000;border-bottom:1px solid #000;display:block;padding:.2em;text-decoretion:none}
body #contenedor #pie{background:#000;display:inline-block;font-size:1em;postion:relative;width:100%;}
body #contenedor #pie #redes{float:right;display:inline-block;width:40%;}
body #contenedor #pie #redes .social{vertical-align:top;width:10%}
body #contenedor #pie #avisos{margin:.3em .3em;width:80%;}
body #contenedor #pie #avisos a{color:#fff;font-family:"Pinyon Script",Arial;font-size:1em;padding:.6em}
body #contenedor #pie #avisos a:hover{font-size:1.3em}
body #contenedor #pie #presentacion{display:inline-block;float:left;height:auto;vertical-align:top;width:60%;}
body #contenedor #pie #presentacion #medalla{border-radius:50%;float:left;margin:0 .6em;postion:relative;width:12%}
body #contenedor #pie #enlaces{border-bottom:1px solid #fff;border-top:1px solid #fff;color:#fff;display:inline-block;font-size:1em;float:left;postion:relative;text-align:center;text-decoration:none;width:90%;}
body #contenedor #pie #enlaces #izquierda,body #contenedor #pie #enlaces #centro,body #contenedor #pie #enlaces #derecha{vertical-align:top;width:50%;}
body #contenedor #pie #enlaces #izquierda .enlace,body #contenedor #pie #enlaces #centro .enlace,body #contenedor #pie #enlaces #derecha .enlace{display:inline-block;font-size:.7em;padding:3.5em;text-align:center;vertical-align:top;width:7%;}
body #contenedor #pie #enlaces #izquierda .enlace h3,body #contenedor #pie #enlaces #centro .enlace h3,body #contenedor #pie #enlaces #derecha .enlace h3{font-family:"Pinyon Script",Arial;font-size:1.5em}
body #contenedor #pie #enlaces #izquierda .enlace a,body #contenedor #pie #enlaces #centro .enlace a,body #contenedor #pie #enlaces #derecha .enlace a{color:#fff;font-family:1em;text-decoration:none}
body #contenedor #pie #enlaces #izquierda .enlace a:hover,body #contenedor #pie #enlaces #centro .enlace a:hover,body #contenedor #pie #enlaces #derecha .enlace a:hover{color:#00f}
body #contenedor #pie #calle{color:#fff;display:inline-block;font-size:.8em;height:auto;vertical-align:top;width:90%;}
body #contenedor #pie #calle #contacto{display:inline-block;font-size:.8em;top:0;}
body #contenedor #pie #calle #contacto a{color:#fff;font-size:1em}
body #contenedor #pie #calle #contacto a:hover{color:#aad;font-size:1.2em}
@media screen and (min-width:768px){body{margin:0 auto;max-width:1200px}
#contenedor{width:95%}
#contenedor #lateral #youtube{border-radius:13px}
}