body{background:#808080;font-size:14px;text-align:center;}
body header{background:#000;display:inline-block;hight:auto;}
body header h1{color:#fff}
body header .avatar{float:left;width:15%}
body header .imagen{float:right;width:15%}
