body
	background grey
	color white
	font-size 14px
	postion absolute
	margin  0px
	text-align center

	header 
		background black
		display inline-block
		hight auto

		h1
			background grey
			display inline-block
			font-size 1.0em
			postion relative
			width 50%

		#imagen
			float left
			width 20%

		#image 
			float right
			width 20%


		nav
		   width300px
		   margin 5% auto
		   background #EEE

		nav
			list-style none
			position relative


		
		

