body{background:#808080;color:#fff;font-size:14px;postion:absolute;margin:0;text-align:center;}
body header{background:#000;display:inline-block;hight:auto;navwidth300pxmargin:5% auto;background:#eee;}
body header h1{background:#808080;display:inline-block;font-size:1em;postion:relative;width:50%}
body header #imagen{float:left;width:20%}
body header #image{float:right;width:20%}
body header nav{list-style:none;position:relative}
