body
	background grey
	font-size 14px
	text-align center

	header
		background black
		display inline-block
		hight auto

		h1
			color white

		.avatar
			float left
			width 15%

		.imagen
			float right
			width 15%



