body
	background #0e1132
	font-size 10px
	margin  0px
	text-align center

header
	background black
	color white
	display  inline-block
	margin 0.1em
	position relative
	vertical-align top
	width 96%

	#item
			background red
			display inline
			position relative
			top 1em
			width 50%
			z-index 1

			h1
				font-family "Diplomata SC", Arial
				font-size 1.3em
				font-weight bold


	#avatar
		background red
		width 100%

		#logo
			float right
			width 30%

		#Logo 
			float left
			left 0px
			width 32%

nav
	background #0e1132
	border-bottom 4px solid transparent
	border-left 10px solid black
	border-top 4px solid black
	border-bottom 4px solid transparent
	border-right 10px solid black
	border-top 4px solid transparent
	color white
	display inline-block
	font-size 1.4em
	text-align center
	vertical-align top
	width 90%

nav ul
	list-style none
	margin 0px
	padding 0 0.8em

nav ul li 
	display inline-block
	margin 0 1.2em 0 0
	vertical-align top

nav ul li a 
	color white
	font-weight normal
	display block
	padding 0 0

nav ul li a:hover
	border-bottom 3px solid #0058A5
	margin 0px
	padding 0px

#contenedor
	background #ffffff
	color black
	display inline-block
	position relative
	width 96%

	#texto 
		display inline-block
		font-size 1.2em
		float left
		margin 0.3em
		text-align left
		width 60%

		h3
			font-family "Kaushan Script", Arial
			font-size 1.5em

		b 
			font-family "Kaushan Script", Arial
			font-size 1.2em


		.imagen
			display inline
			vertical-align top 
			margin 1em
			padding 0.1em
			position relative
			width 20%

#izquierda
		float right
		margin 1em 0.3em
		width  25%
		z-index 1

		#video
			display inline-block
			padding 0.3em
			width 100%

			h3
				color black
				font-family "Kaushan Script", Arial
				font-size 0.8em
				font-weight none
				width 100%

			#youtube
				width 100%

		#admision
			border-top 1px solid black
			display inline-block
			padding 0.3em
			width 98%

			#admision-item
				margin 0.2em 0 0 0
				position relative
				top -10px
				width 100%

				a 
					color black
					text-decoration none

			.src
				border-radius 20px
				width 20%


		#capilla
			text-align left
			
			h3
				border-top 1px solid black
				border-decoration none
				font-size 0.7em
				font-family "Diplomata SC", Arial
				font-weight normal
				width 100%

		#cultos
			background red
			display inline-block
			padding 0.2em
			width 100%

			h3
				font-family "Diplomata SC", Arial
				font-size 0.8em

			.estilos
				background #ccf
				position relative
				width 40%

			.stil
				background #ccd
				display inline-block
			 	right 0px
				text-align left
				width 20%
			

	#pie
		background #0e1132
		display inline-block
		color white
		font-size 1.2em
		vertical-align top
		width 100%

		a 
			color white
			text-decoration none

		a:hover
			font-family "Diplomata SC", Arial


@import"responsive.styl"