body
	background grey
	color white
	font-size 14px
	postion absolute
	margin  0px
	text-align center

	header 
		background black
		display inline-block
		hight auto

		h1
			display inline-block
			font-family "Pinyon Script", Arial
			font-size 1.4em
			postion relative
			width 50%

		#imagen
			float left
			width 20%

		#image 
			float right
			width 20%

		nav
			background #ccc
			border-bottom 4px solid transparent
			border-left 10px solid black
			border-top 4px solid transparent
			border-bottom 4px solid transparent
			border-right 10px solid black
			border-top 4px solid transparent
			color white
			display inline-block
			font-size 1.4em
			text-align center
			vertical-align top
			width 90%

		nav ul
			list-style none
			margin 0px
			padding 0 0.8em

		nav ul li 
			display inline-block
			margin 0 1.2em 0 0
			vertical-align top

		nav ul li a 
			color black
			font-family "Dancing Script", Arial
			font-weight normal
			display block
			text-decoretion none
			padding 0 0

		nav ul li a:hover
			border-bottom 1px solid #0058A5
			margin 0px
			padding 0px

		nav #logo
			display inline-block
			border-radius 50%
			display inline 
			float left
			left 0 
			margin 0 0 0 0 
			postion relative
			top 1em
			text-decoration none
			width 40px

	#contenedor
		background white
		color black
		display inline-block
		postion relative
		width 100%
		z-index 1em

		h2
			color black
			font-family "Pinyon Script", Arial
			font-size 1.0em
			float left
			margin 0.3em
			padding 0.3em
			text-align left
			width 90%

		#contenido
			display inline-block
			float left
			margin 0em 0.3em
			padding 0em 0.3em
			postion relative
			text-align left
			vertical-align top
			width 65%

			.imagen
				float left
				margin 1.0em 0.5em
				width 20%

			h3
				font-family "Pinyon Script", Arial
				font-size 1.2em
				float right
				margin 0em 0.4em

		#lateral
			float right
			margin 0em 0.3em
			postion relative
			text-align left
			width 30%

			a 
				border-bottom 1px solid black
				color black
				display block
				text-decoration none

			#estilo
				font-weight bold

		#pie
			background black
			display inline-block
			postion relative
			width 100%

			#redes
				float right
				display inline-block
				width 40%

				.social
					vertical-align top
					width 10%

			#avisos
				margin 0.3em 0.3em
				width 80%

				a 
					color white
					font-family "Pinyon Script", Arial
					font-size 1.0em
					padding 0.6em
					text-decoration none

				a:hover
					font-size 1.3em

			#presentacion
				color white
				display inline-block
				font-size 1.2em
				float left
				height auto
				vertical-align top
				width 60%

				#medalla
					border-radius 50%
					float left
					margin 0em 0.6em
					postion relative
					width 12% 

			#enlaces
				border-bottom 1px solid white
				border-top 1px solid white
				display inline-block
				font-size 1.0em
				postion relative
				text-align center
				width 90%

				#izquierda, #centro, #derecha
					vertical-align top
					width 50%

					.enlace 
						display inline-block
						font-size 0.9em
						padding 2em
						text-align center
						vertical-align top
						width 5%

						h3
							font-family "Pinyon Script", Arial
							font-size 1.5em

						a 
							color white
							font-family 1.0em
							text-decoration none

			#calle
				display inline-block
				height auto
				vertical-align top
				width 90%

				#contacto
					display inline-block 
					top 0px
					width 80%

					a 
						color white
						font-size 1.0em

					a:hover
						color #aad
						font-size 1.2em

@import"responsive.styl"