body{background:#808080;color:#fff;font-size:14px;postion:absolute;margin:0;text-align:center;}
body header{background:#000;display:inline-block;hight:auto;}
body header h1{display:inline-block;font-family:"Pinyon Script",Arial;font-size:1.4em;postion:relative;width:50%}
body header #imagen{float:left;width:20%}
body header #image{float:right;width:20%}
body header nav{background:#ccc;border-bottom:4px solid transparent;border-left:10px solid #000;border-top:4px solid transparent;border-bottom:4px solid transparent;border-right:10px solid #000;border-top:4px solid transparent;color:#fff;display:inline-block;font-size:1.4em;text-align:center;vertical-align:top;width:90%}
body header nav ul{list-style:none;margin:0;padding:0 .8em}
body header nav ul li{display:inline-block;margin:0 1.2em 0 0;vertical-align:top}
body header nav ul li a{color:#000;font-family:"Dancing Script",Arial;font-weight:normal;display:block;text-decoretion:none;padding:0 0}
body header nav ul li a:hover{border-bottom:1px solid #0058a5;margin:0;padding:0}
body header nav #logo{display:inline-block;border-radius:50%;display:inline;float:left;left:0;margin:0 0 0 0;postion:relative;top:1em;text-decoretion:none;width:40px}
body #contenedor{background:#fff;display:inline-block;postion:relative;width:100%;z-index:1em;}
body #contenedor h2{color:#000;font-family:"Pinyon Script",Arial;font-size:1.3em;float:left;margin:.3em;padding:.3em;text-align:left;width:90%}
body #contenedor #contenido{display:inline-block;float:left;margin:0 .6em;postion:relative;width:70%;}
body #contenedor #contenido .formulario{display:inline-block;width:100%;}
body #contenedor #contenido .formulario #catalogo{width:100%}
body #contenedor #contenido .PDF{font-size:1em;text-align:left;}
body #contenedor #contenido .PDF a{color:#000;text-decoration:none}
body #contenedor #contenido .PDF a:hover{color:#00f;font-size:1.2em}
body #contenedor #lateral{display:inline-block;float:right;font-size:.8em;padding:.3em;postion:relative;text-align:left;width:22%;}
body #contenedor #lateral #estilo{font-weight:bold}
body #contenedor #lateral h2{border-bottom:1px solid #000;font-size:1.1em;float:left;margin:0 0 0 0}
body #contenedor #lateral a{color:#000;border-bottom:1px solid #000;display:block;padding:.2em;text-decoration:none}
body #contenedor #pie{background:#000;display:inline-block;postion:relative;width:100%;}
body #contenedor #pie #redes{float:right;display:inline-block;width:40%;}
body #contenedor #pie #redes .social{vertical-align:top;width:10%}
body #contenedor #pie #avisos{margin:.3em .3em;width:80%;}
body #contenedor #pie #avisos a{color:#fff;font-family:"Pinyon Script",Arial;font-size:1em;padding:.6em}
body #contenedor #pie #avisos a:hover{font-size:1.3em}
body #contenedor #pie #presentacion{display:inline-block;float:left;height:auto;vertical-align:top;width:60%;}
body #contenedor #pie #presentacion #medalla{border-radius:50%;float:left;margin:0 .6em;postion:relative;width:12%}
body #contenedor #pie #enlaces{border-bottom:1px solid #fff;border-top:1px solid #fff;display:inline-block;float:left;font-size:1em;postion:relative;text-align:center;width:80%;}
body #contenedor #pie #enlaces #izquierda,body #contenedor #pie #enlaces #centro,body #contenedor #pie #enlaces #derecha{font-size:.9em;padding:.3em;vertical-align:top;width:40%;}
body #contenedor #pie #enlaces #izquierda .enlace,body #contenedor #pie #enlaces #centro .enlace,body #contenedor #pie #enlaces #derecha .enlace{display:inline-block;font-size:.9em;padding:2.1em;text-align:center;vertical-align:top;width:8%;}
body #contenedor #pie #enlaces #izquierda .enlace h3,body #contenedor #pie #enlaces #centro .enlace h3,body #contenedor #pie #enlaces #derecha .enlace h3{font-family:"Pinyon Script",Arial;font-size:1.5em}
body #contenedor #pie #enlaces #izquierda .enlace a,body #contenedor #pie #enlaces #centro .enlace a,body #contenedor #pie #enlaces #derecha .enlace a{color:#fff;font-size:1em;text-decoration:none}
body #contenedor #pie #calle{display:inline-block;height:auto;vertical-align:top;width:90%;}
body #contenedor #pie #calle #contacto{display:inline-block;font-size:.8em;top:0;width:80%;}
body #contenedor #pie #calle #contacto a{color:#fff;font-size:1em;text-decoration:none}
body #contenedor #pie #calle #contacto a:hover{color:#aad;font-size:1.2em}
@media screen and (min-width:768px){body{margin:0 auto;max-width:1200px}
#contenedor{width:95%}
}